{% extends "base.html" %}


{% block js %}
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}


{% block main %}
    <div><h1>Bluetooth Train Controller</h1></div>
    <a class="button" href="#" onclick="scan();">Add new Hub</a>
    <table id="hubs">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Disconnect</th>
            </tr>
        </thead>
    </table>

    <div class="row" id="trains">
    </div>
                


    <div id="console">
    </div>

{% endblock %}
